{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Ząbek - Sklep - Kategoria
    {% endblock %}

    {% block header %}
        {% if object_list %}
            {% for object in object_list %}
                {% if forloop.counter == 1 %}
                    <h1>Kategoria: '{{ object.category }}'</h1>
                {% endif %}
            {% endfor %}
             {% else %}
            {% endif %}
    {% endblock %}

{% block content %}
        
	    <div class="container">
            {% if object_list %}
            {% for object in object_list %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{{ object.get_absolute_url }}">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    <div class="product_info">
                        <div style="text-align: center; white-space: nowrap;
                        overflow: hidden; text-overflow: ellipsis; max-width: 300px;" class="product_title">{{ object.name }}</div>
                        <div style="text-align: center;" class="product_price">jedynie: {{ object.price_in_PLN }} PLN</div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% endif %}
    </div>
	        

{% endblock %}