{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Ząbek - edycja gabinetu
    {% endblock %}

    {% block header %}
        <h1>Produkty w naszym sklepie:</h1>
    {% endblock %}

{% block content %}
    <h3><a href="{% url 'shop:new_purchase' %}">Przejdz do formularza zakupu!</a></h3>
    <div class="container">
            {% if object_list %}
            {% for object in object_list %}
            {% if object.retail %}
            <div class="col-md-4 thumb">
                <a class="thumbnail" href="{{ object.get_absolute_url }}">
                {% if object.photo %}
                    <img src="{{ object.photo.url }}"/>
                {% else %}
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                {% endif %}
                    <div class="product_info">
                        <div style="text-align: center; white-space: nowrap;
                        overflow: hidden; text-overflow: ellipsis;" class="product_title">{{ object.name }}</div>
                        <div style="text-align: center;" class="product_price">jedynie: {{ object.price_in_PLN }} PLN</div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        {% else %}
            <p>Nie znaleziono produktów...</p>
        {% endif %}
    </div>
        <div>
        <ul class="pager">
            {% if page_obj.has_previous %}
                <li class="previous"><a href="?page={{ page_obj.previous_page_number }}">Poprzednia strona</a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="next"><a href="?page={{ page_obj.next_page_number }}">Następna strona</a></li>
            {% endif %}
        </ul>
        </div>
    </div>

{% endblock %}