{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Ząbek - edycja statusu zamówienia
    {% endblock %}

    {% block header %}
        <h1>Edycja statusu zamówienia:</h1>
    {% endblock %}

    {% block content %}
    {% for purchase in purchase_list %}
    	<p>Data zakupu: {{purchase.date}}<p>
    	<p>Klient: {{purchase.purchaser.patient_set.all.0.surname}} {{purchase.purchaser.patient_set.all.0.name}}, PESEL: {{purchase.purchaser.patient_set.all.0.pesel}}</p>
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <div class="form-group">
                        <br>&nbsp;</br>
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                {{ form.status }} {{ form.status.errors }}
                            </div>
                        </div>
                         <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Zapisz</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}