{% extends "blog_base.html" %}

{% load django_markdown %}
{% load staticfiles %}
{% load  static %}

	{% block title %}
		Ząbek - blog
	{% endblock %}

	{% block header %}
        <h1>Oficjalny blog sieci gabinetów dentystycznych "Ząbek"</h1>
    {% endblock %}

    {% block content %}
    <div class="post">
        <h1>{{ object.title }}</h1>
        <h5>{{ object.pub_date }}</h5>
        {{ object.text|markdown }}
        </div>
        {% if object.category %}
        <div class="category">
            <span>Kategoria: </span>
        <a href="{{ object.category.get_absolute_url }}"><span class="label label-primary">{{ object.category.title }}</span></a>
        </div>
        {% endif %}
        {% if object.tags %}
        <div class="tags">
            <span>Tagi: </span>
        {% for tag in object.tags.all %}
        <a href="{{ tag.get_absolute_url }}"><span class="label label-success">{{ tag.title }}</span></a>
        {% endfor %}
        </div>
        {% endif %}
        <div class="social">
                    {% with object.get_absolute_url as page_url %}
                    {% with object.title as title %}
                    {% include 'share.html' %}
                    {% endwith %}
                    {% endwith %}</div>
        <div class="comments">
        <h3>Komentarze:</h3>
            <div class="fb-comments" data-href="http://localhost:800{{ object.get_absolute_url }}" data-width="470" data-num-posts="10"></div>
        </div>
    </div>
    {% endblock %}