{% extends "blog_base.html" %}

{% load django_markdown %}
{% load staticfiles %}
{% load  static %}

	{% block title %}
		Ząbek - blog- tag
	{% endblock %}

	{% block header %}

    {% endblock %}

    {% block content %}
    	{% if object_list %}
            {% for post in object_list %}
            <div class="post">
            <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
            <h3>{{ post.pub_date }}</h3>
            {{ post.get_short_post_text|markdown }}<a style="float: right;" href="{{ post.get_absolute_url }}"> Continue reading...</a>
            </div>
            {% if post.category %}
            <div class="category">
                <span>Category: </span>
            <a href="{{ post.category.get_absolute_url }}"><span class="label label-primary">{{ post.category.title }}</span></a>
            </div>
            {% endif %}
            {% endfor %}
        {% else %}
            <p>No posts found</p>
        {% endif %}

        <ul class="pager">
            {% if page_obj.has_previous %}
                <li class="previous"><a href="?page={{ page_obj.previous_page_number }}">Poprzednia strona</a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="next"><a href="?page={{ page_obj.next_page_number }}">Następna strona</a></li>
            {% endif %}
        </ul>
    {% endblock %}