{% extends "base.html" %}

{% load django_markdown %}
{% load staticfiles %}
{% load  static %}

	{% block title %}
		Ząbek - o nas
	{% endblock %}

	{% block header %}
        <h1>O nas</h1>
    {% endblock %}

    {% block content %}
    	<h3>Witamy!<h3>
    	<p class="description">Jesteśmy siecią gabinetów stomatologicznych działających na terenie całej Polski.
        Oferujemy Państwu opiekę stomatologiczną na najwyższym, światowym poziomie.
        Kreowanie pięknych i zdrowych uśmiechów to nasz najwyższy priorytet. 
        Oferujemy Państwu kompleksowe usługi dentystycznych w zakresie stomatologii zachowawczej, ortodoncji,  endodoncji, chirurgi, periodontologi, implantologi oraz protetyki. 
        Nasze gabinety wyposażone są w nowoczesną aparaturę, pozwalającą na przeprowadzenie dokładnej diagnozy i podjęcie odpowiedniego leczenia.
        Jesteśmy profesjonalistami, którzy zadbają o najwyższą jakość wszelkich zabiegów.
        Wytrwale dążymy do zaspokojenia indywidualnych potrzeb Naszych Pacjentów. 
        Satysfakcja Pacjenta jest dla nas motywacją do wszelkich działań i rozwoju naszych placówek. 
        Wszystkie wykonywane przez nas zabiegi są bezbolesne i objęte gwarancją.
        </p>
        <br>&nbsp;</br>
        <p>Sieć gabinetów stomatologicznych ZĄBEK udziela licencji franczyzowych od 2008 roku. Obcenie pod naszą marką zrzeszonych jest 40 placówek m.in. w Warszawie, Wrocławiu, Katowicach oraz Krakowie.
        Zapraszamy do współpracy lekarzy posiadających już własną  praktykę bądż osoby, które planują otwarcie własnego gabinetu. Oferujemy sprzęt stomatologiczny oraz materiały medyczne po atrakcyjnych cenach.
        Możliwe jest również korzystanie z działań promocyjnych realizowanych na zlecenie danego franczyzobiorcy.
        Zapraszamy do kontaktu z nami poprzez maila franczyza@zabek.pl</p>

    	<h3>Dane</h3>
    	<p class="description">Ząbek Sp. z o.o, 00-000 Miasto, ul. Krzywa 1/2, NIP: 000-00-00-000, KRS 0000000000, Regon: 0000000000, Kapitał zakładowy 1 000 000 zł</p>
    	<p class="description">Na wszelkie pytania postara się odpowiedzieć nasze call center w godzinach 10.00-18.00 pod numerem telefonu: <b>+48 800 345 123</b></p>
        <p class="description"> telefon: +48 800 345 123, mail: <a href="mailto:testowy@test.pl">testowy@test.pl</a>, skype:<a href="skype:esky.rafal.bazarnik?call">esky.rafal.bazarnik</a>

    	<h3>Mapa dojazdu:</h3>
    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2507.2573920436257!2d17.001439158894192!3d51.06650247730868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc3b63eae1a73%3A0x225e6db026b19175!2zUHJ6eWphxbpuaSA0aywgV3JvY8WCYXcsIFBvbGFuZA!5e0!3m2!1sen!2sus!4v1448888670420" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    {% endblock %}

    {% block script %}
    {% endblock %}