<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="alternate" type="application/rss+xml" title="Blog posts" href="/feed" >

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'ui/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <script src="{% static 'js/jquery-1.11.3.js' %}"></script>
        <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'ui/jquery-ui.js' %}"</script>
        <script src="{% static 'js/all.min.js' %}"></script>

        <script src="http://skryptcookies.pl/cookie.js"></script>

        {% block script %}{% endblock %}

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <script>
        $(document).ready(function() {
            $('.datepicker').datepicker({dateFormat: 'dd.mm.yy'});
        });
        </script>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a style="color: #2040FF;" class="navbar-brand" href="{% url 'main_page:index' %}"><strong>Ząbek</strong></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                         <li><a href="{% url 'main_page:schedule_instruction' %}">Jak się zapisać?</a></li>
                        <li><a href="{% url 'main_page:offices' %}">Nasze Gabinety</a></li>
                        <li><a href="{% url 'main_page:dentists' %}">Nasi Dentyści</a></li>
                        <li><a href="{% url 'blog:blog' %}">Blog</a></li>
                        <li><a href="{% url 'shop:shop_index' %}">e-Sklep</a></li>
                        <li><a href="{% url 'main_page:contact' %}">Kontakt</a></li>
                        <li><a href="{% url 'main_page:about' %}">O nas</a></li>
                        {% if user.is_authenticated %}
                        {% if user.groups.all.0.name == 'Offices' %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Twój Gabinet <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'main_page:office_account' %}">Strona gabinetu</a></li>
                                <li><a href="{% url 'main_page:schedules_list' %}">Grafik</a></li>
                                <li><a href="{% url 'main_page:patients' %}">Pacjenci</a></li>
                                <li><a href="{% url 'main_page:new_patient' %}">Dodaj pacjenta</a></li>
                                <li><a href="{% url 'main_page:new_dentist' %}">Dodaj dentystę</a></li>
                                <li><a href="{% url 'main_page:schedule_create' %}">Dodaj grafik</a></li>
                                <li><a href="{% url 'main_page:event_create' %}">Dodaj wydarzenie</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Inne:</li>
                                <li><a href="{% url 'blog:post_new' %}">Wyślij post na bloga</a></li>
                                <li><a href="{% url 'main_page:change_password' %}">Zmień hasło</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        {% if user.groups.all.0.name == 'Patients' %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Strefa Użytkownika<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'main_page:patient_index' %}">Twoja strona</a></li>
                                <li><a href="{% url 'main_page:patient_appointements' %}">Twoje wizyty</a></li>
                                <li><a href="{% url 'main_page:patient_info' %}">Twoje dane</a></li>
                                <li><a href="{% url 'main_page:patient_history' %}">Twoja historia leczenia</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Inne:</li>
                                <li><a href="{% url 'main_page:change_password' %}">Zmień hasło</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if not user.is_authenticated %}
                        <li style="text-align: right;"><a href="{% url 'main_page:login_user' %}">Zaloguj</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li id="log_out"><a href="{% url 'main_page:logout_user' %}">Wyloguj</a></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <div class="page-header">
                {% block header %}{% endblock %}
            </div>
                {% block content %}{% endblock %}
        </div>
        <br>&nbsp;</br>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Copyright &copy; {% now "Y" %} Ząbek Sp. z o.o, 00-000 Miasto, ul. Krzywa 1/2, NIP: 000-00-00-000, KRS 0000000000, Regon: 0000000000, Kapitał zakładowy 1 000 000 zł
            </div>
        </footer>

        <script src="{% static 'js/bootstrap.min.js' %}"></script>

	</body>
</html>