{% extends 'base.html' %}

    {% block title %}
        Ząbek - strona kontaktu
    {% endblock %}

    {% block header %}
        <h1>Napisz do nas!</h1>
    {% endblock %}

{% block content %}
<div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="POST">{% csrf_token %}
                    <fieldset>
                        <legend class="text-center header">Formularz kontaktu</legend>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-user bigicon"></i></span> 
                            <div class="col-md-8">
                                {{ form.contact_name }} {{ form.contact_name.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-envelope bigicon"></i></span>
                            <div class="col-md-8">
                                {{ form.contact_email }} {{ form.contact_email.errors }}
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-earphone bigicon"></i></span>
                            <div class="col-md-8">
                                {{ form.contact_phone }} {{ form.contact_phone.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-pencil bigicon"></i></span>
                            <div class="col-md-8">
                               {{ form.content}} {{ form.content.errors }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>


{% endblock %}