{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Ząbek - nasi lekarze-dentyści
    {% endblock %}

    {% block header %}
        <h1>Nasi Lekarze-Dentyści:</h1>
    {% endblock %}

    {% block content %}
        <h4>Skorzystaj z wyszukiwarki dentystów:</h4>
        <div class="input-group" id="search-field">
            <input type="text" class="form-control" placeholder="kryteria wyszukiwania...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Szukaj!</button>
            </span>
        </div>
        <BR>&nbsp;<BR>
        {% if object_list %}
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Imię:</th>
                    <th>Nazwisko:</th>
                    <th>Tytuł zawodowy:</th>
                    <th>Specjalizacja:</th>
                    <th>Więcej informacji</th>
                </tr>
            </thead>
            <tbody>
            {% for dentist in object_list %}
            <tr>
                <td>
                    {{ dentist.surname }}
                </td>
                <td>
                    {{ dentist.name }}
                </td>
                <td>
                    {{ dentist.professional_title }}
                </td>
                <td>
                {% if dentist.specialties %}
                    {{ dentist.specialties }}
                {% else %}
                    dentysta specjalizacji ogólnej
                {% endif %}

                </td>
                <td>
                    <a target="_blank" href="{{ dentist.get_absolute_url }}">więcej informacji...</a>
                </td>
            </div>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        {% else %}
            <p>Nie znaleziono dentystów!</p>
        {% endif %}

        <ul class="pager">
            {% if page_obj.has_previous %}
                <li class="previous"><a href="/{{ page_obj.previous_page_number }}/">Previous Page</a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="next"><a href="/{{ page_obj.next_page_number }}/">Next Page</a></li>
            {% endif %}
        </ul>

    {% endblock %}