{% extends "base.html" %}

{% load django_markdown %}
{% load staticfiles %}
{% load  static %}

	{% block title %}
		Ząbek - Dostęp zabroniony
	{% endblock %}

	{% block header %}
        <h1 class="info">Dostęp do tego zasobu jest zastrzeżony!!!</h1>
    {% endblock %}

    {% block content %}
    	<h3>{% if not user.is_authenticated %}
    	<a href="{% url 'main_page:login_user' %}">Zaloguj się</a> lub <a href="{% url 'main_page:new_patient' %}">zarejestruj</a> lub
    	{% endif %}
    	<a href="{% url 'main_page:index' %}">wróć do strony głównej</a></h3>
<div class="row">
		<div class="col-md-4">
		
	</div>
</div>
    {% endblock %}