{% extends "base.html" %}

{% load django_markdown %}
{% load staticfiles %}
{% load  static %}

	{% block title %}
		Ząbek - strona główna
	{% endblock %}

	{% block header %}
        <h1>Sieć gabinetów dentystycznych "Ząbek"</h1>
    {% endblock %}

    {% block content %}
<div class="row">
		<div class="col-md-4">
			<img src="{% static 'img/dentistLogo.jpg' %}">
		</div>
		<div class="col-md-8">
			<h2>
				Witamy na stronie sieci gabinetów stomatologicznych "Ząbek"
			</h2>
			<h3><p class="description">
				Jesteśmy siecią gabinetów stomatologicznych działających na terenie całej Polski. Oferujemy Państwu opiekę stomatologiczną na najwyższym, światowym poziomie. Kreowanie pięknych i zdrowych uśmiechów to nasz najwyższy priorytet.
			</p>
			<p>
			<a class="btn" href="{% url 'main_page:about' %}">Więcej...</a>
			</p></h3>
		</div>
	</div>
</div>
    {% endblock %}