{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block content %}
    <section class="" id="office_header">
        <div class="row">
            <div class="col-md-2">
            <a class="avatar">
                <img src="{% static 'img/logo-default.jpg' %}">
            </a>
            </div>
            <div class="col-md-10">
                <h1>{{ object.name }}</h1>
                <h4>Adres:  {{ office.province_verbose }}, {{ office.city }}, ul. {{ office.street}} {{ office.number }}<h4>
                <h4>Telefon: {{ office.phone_number }}, Telefon alternatywny: {{ office.phone_number_alt }}</h4>
                <h4>Adres email: <a href="mailto:{{ office.email }}">{{ office.email }}</a></h4>
            </div>
        </div>
    </section>
    <section class="" id="office_body">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="specialties">
                    <h3>Opis:</h5>
                </div>
                <div class="biography"></div>
                    <h3>Cennik:</h5>
            </div>
        </div>
    </section>
    {% endblock %}