{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block content %}
    <section class="" id="patient_header">
        <div class="row">
            <div class="col-md-2">
            <a class="avatar">
                <img src="{% static 'img/patient-default.jpg' %}">
            </a>
            </div>
            <div class="col-md-10">
                <h1>{{ patient.name }} {{ patient.surname }}</h1>
                <h4>Adres:  {{ patient.province_verbose }}, {{ patient.city }}, ul. {{ patient.street}} {{ patient.number }}<h4>
                <h4>Telefon: {{ patient.phone_number }}, Telefon alternatywny: {{ patient.phone_number_alt }}</h4>
                <h4>Adres email: <a href="mailto:{{ patient.email }}">{{ patient.email }}</a></h4>
                <h4>Numer PESEL: {{ patient.pesel }}</h4>
            </div>
        </div>
    </section>
    <section class="" id="patient_body">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="specialties">
                    <h3>Inne dane:</h5>
                </div>
                <div class="biography"></div>
                    <h3>Inne:</h5>
            </div>
        </div>
    </section>
    {% endblock %}