{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Ząbek - plany
    {% endblock %}

    {% block header %}
        <h1>Plany:</h1>
    {% endblock %}

    {% block content %}
        <p>tu będzie lista planów pracy dentystów - pamiętać o login required i tylko ten gabinet! rozważyć podział na dni</p>
        {% if object_list %}
        <h3><h3>
        {% for dentist in dentists %}
                <h3><a href="{{ dentist.get_absolute_url }}" >{{ dentist }}:</a></h3>
                {% for schedule in object_list %}
                    {% if schedule.dentist == dentist %}
                    {% if schedule.is_active %}
                        <p><a href="{{ schedule.get_absolute_url }}">{{ schedule }} {{ schedule.date| date:"l" }}</a> {%if schedule.has_free_slots %}(wolne terminy!){% endif %}</p>
                    {% endif %}
                    {% endif %}
                {% endfor %}
        {% endfor %}
        {% endif %}
	{% endblock %}