{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Ząbek - plany
    {% endblock %}

    {% block header %}
        <h1>Plany:</h1>
    {% endblock %}

    {% block content %}
        <p>tu będzie lista planów pracy dentystów - pamiętać o login required i tylko ten gabinet! rozważyć podział na dni</p>
        {% if object_list %}
        {% for schedule in object_list %}
        {{ schedule }}
        {% endfor %}
        {% endif %}
	{% endblock %}