{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Ząbek - edycja gabinetu
    {% endblock %}

    {% block header %}
        <h1>Edycja Twojego Gabinetu:</h1>
    {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="POST">{% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <br>&nbsp;</br>
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                {{ form.text }} {{ form.text.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                {{ form.price_list }} {{ form.price_list.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                {{ form.phone_number }} {{ form.phone_number.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                {{ form.phone_number_alt }} {{ form.phone_number_alt.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                {{ form.email }} {{ form.email.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                {{ form.province }} {{ form.province.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                {{ form.city }} {{ form.city.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                {{ form.street }} {{ form.street.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                {{ form.number }} {{ form.number.errors }}
                            </div>
                        </div>
                         <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Zapisz</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
	{% endblock %}