{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Ząbek - Nowe wydarzenie
    {% endblock %}

    {% block header %}
        <h1>Nowe wydarzenie:</h1>
    {% endblock %}

    {% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="POST">{% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <br>&nbsp;</br>
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                Pacjent: {{ form.subject }} {{ form.subject.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                Tytuł wizyty: {{ form.title }} {{ form.title.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                Data: {{ form.date }} {{ form.date.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                Typ wizyty: {{ form.event_type }} {{ form.event_type.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                Opis: {{ form.text }} {{ form.text.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                Gabinet: {{ form.office }} {{ form.office.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                Dentysta: {{ form.dentist }} {{ form.dentist.errors }}
                            </div>
                        </div>
                         <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Zapisz</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}