{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Ząbek - dodaj dzień pracy dentysty
    {% endblock %}

    {% block header %}
        <h1>Plany:</h1>
    {% endblock %}

    {% block content %}
        <p>tu będzie można dodać dzień pracy dentysty - pamiętać o login required i tylko ten gabinet!</p>
        <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="POST">{% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                Dzień: {{ form.date }} {{ form.date.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                Gabinet: {{ form.office }} {{ form.office.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                Dentysta: {{ form.dentist }} {{ form.dentist.errors }}
                            </div>
                        </div>
                        <div><span class="glyphicon glyphicon-info-sign small-info-icon"></span>&nbsp;<span class="info">Należy w godzinach kiedy dentysta jest w pracy zostawić domyślną wartość tj. nasz gabinet. W przypadku jeśli nie należy wybrać pustą wartość (------). Zarezerwowane godziny mają wprowadzonego Usera pacjenta.</span></div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                g.10.00-11.00: {{ form.slot10_11 }}  {{ form.slot10_11.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                g.11.00-12.00: {{ form.slot11_12 }} {{ form.slot11_12.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                g.12.00-13.00: {{ form.slot12_13 }} {{ form.slot12_13.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                g.13.00-14.00: {{ form.slot13_14 }} {{ form.slot13_14.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                g.14.00-15.00: {{ form.slot14_15 }} {{ form.slot14_15.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                g.15.00-16.00: {{ form.slot15_16 }} {{ form.slot15_16.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                g.16.00-17.00: {{ form.slot16_17 }} {{ form.slot16_17.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                g.17.00-18.00: {{ form.slot17_18 }} {{ form.slot17_18.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                g.18.00-19.00: {{ form.slot18_19 }} {{ form.slot18_19.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span> 
                            <div class="col-md-8">
                                g.19.00-20.00: {{ form.slot19_20 }} {{ form.slot19_20.errors }}
                            </div>
                        </div>
                         <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Zapisz</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
	{% endblock %}