{% extends "base.html" %}

{% load django_markdown %}
{% load staticfiles %}
{% load  static %}

	{% block title %}
		Ząbek - strona gabinetu - 
		{% for office in object_list %}
      		{{ office.name }}
        {% endfor %}
	{% endblock %}

	{% block header %}
        <h1>Witaj 
        {% for office in object_list %}
        {% if forloop.counter == 1 %}
       	"{{ office.name }}"...</h1>
       	{% endif %}
        {% endfor %}
    {% endblock %}

	{% block content %}
		<h2 style="text-align: center;">...na stronie głównej Twojego Gabinetu!</h2>
        <br>&nbsp;</br>
    	<h4 class="description">Podstawowe linki:</h4>
        <p><b><a href="{% url 'main_page:schedules_list' %}">Grafik Twoich Dentystów</a></b></p>
        <p><b><a href="{% url 'main_page:new_patient' %}">Dodaj nowego Pacjenta</a></b></p>
        <p><b><a href="{% url 'main_page:patients' %}">Przejrzyj listę Pacjentów</a></b></p>
        <p><b><a href="{% url 'main_page:new_dentist' %}">Dodaj nowego Dentystę</a></b></p>
        <p><b><a href="{% url 'main_page:event_create' %}">Dodaj wydarzenie do e-Kartoteki Pacjenta</a></b></p>
        <p><b><a href="{% url 'main_page:schedule_create' %}">Dodaj dzień pracy (grafik) swojego Dentysty</a></b></p>
        <p><b><a href="{% url 'blog:post_new' %}">Wyślij nam propozycję artykułu na naszego wspólnego bloga</a></b></p>
        <p><b><a href="{% url 'shop:office_purchase_list' %}">Przejrzyj zamówienia klientów sklepu do odbioru</a></b></p>
        <p><b><a href="{% url 'main_page:change_password' %}">Zmień swoje hasło!</a></b></p>
        {% for office in object_list %}
            {% if forloop.counter == 1 %}
                <p><b><a href="{{ office.get_edit_url }}">Edytuj swoje dane!</a></b></p>
            {% endif %}
        {% endfor %}
        
    
	{% endblock %}