{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Ząbek - gabient
    {% endblock %}

    {% block header %}
        <h1>Gabinet:</h1>
    {% endblock %}

    {% block content %}
    <section class="" id="office_header">
        <div class="row">
            <div class="col-md-3">
            <a class="avatar">
                <img src="{% static 'img/logo-default.jpg' %}">
            </a>
            </div>
            <div class="col-md-9">
                <h1>{{ object.name }}</h1>
                <h4>Adres:  {{ office.province_verbose }}, {{ office.city }}, ul. {{ office.street}} {{ office.number }}<h4>
                <h4>Telefon: {{ office.phone_number }}, Telefon alternatywny: {{ office.phone_number_alt }}</h4>
                <h4>Adres email: <a href="mailto:{{ office.email }}">{{ office.email }}</a></h4>
            </div>
        </div>
    </section>
    <section class="" id="office_body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <div class="dentists">
                    <h3>Nasi Lekarze:</h3>
                        {% for dentist in office.workplace.all %}
                            <p>
                            <a href="{{dentist.get_absolute_url}}">{{dentist.name}} {{dentist.surname}} {{dentist.professional_title}}</a> Wolne terminy:
                            {% if schedules %}
                                {% for schedule in schedules %}
                                    {% if schedule.dentist == dentist %}
                                        {% if schedule.is_active %}
                                            <a href="{{schedule.get_signup_url}}">{{ schedule.date }} ({{ schedule.date | date:"l" }}) </a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </p>
                        {% endfor %}
                </div>
                <div class="specialties">
                    <h3>Opis:</h5>
                    <p>{{ office.text }}<p>
                </div>
                <div class="biography">
                    <h3>Cennik:</h5>
                    <p>{{ office.price_list }}<p></div>
            </div>
                <div class="comments">
                    <h3>Komentarze:</h3>
                    <div class="fb-comments" data-href="http://localhost:8000{{ object.get_absolute_url }}" data-width="470" data-num-posts="10"></div>
                </div>
        </div>
    </section>
    {% endblock %}