{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Ząbek - nasze gabinety
    {% endblock %}

    {% block header %}
        <h1>Nasze Gabinety:</h1>
    {% endblock %}

    {% block content %}
        <h4>Skorzystaj z wyszukiwarki gabinetów:</h4>
        <div class="input-group" id="search-field">
        <form action="/search_office" method="GET">
            <div style="float: left;" class="form-group">
                <input type="text" name="q" placeholder="szukaj..." class="form-control"></input>
            </div>
            <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Szukaj!</button>
            </span>
        </form>
        </div>
        <span class="glyphicon glyphicon-info-sign small-info-icon">&nbsp;</span>
        <h5 class="info"> Obecnie można wyszukiwać po: nazwie, mieście, ulicy, telefonach i adresie mailowym.</h5>
        <BR>&nbsp;<BR>
        {% if object_list %}
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nazwa:</th>
                    <th>Miasto:</th>
                    <th>Adres:</th>
                    <th>Telefon:</th>
                    <th>Telefon alternatywny:</th>
                    <th>Adres email:</th>
                    <th>Więcej informacji:</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for office in object_list %}
            <tr>
                <td>
                    {{ office.name }}
                </td>
                <td>
                    {{ office.city }}
                </td>
                <td>
                    ul. {{ office.street}} {{ office.number }}
                </td>
                <td>
                    {{ office.phone_number }}
                </td>
                <td>
                    {{ office.phone_number_alt }}
                </td>
                <td>
                    {{ office.email }}
                </td>
                <td>
                    <a id="more_info" target="_blank" href="{{ office.get_absolute_url }}">więcej informacji...</a>
                </td>
                {% if user.is_authenticated %}
                {% if office.user.id == request.user.id%}
                    <td><a id="more_info" href="{{ office.get_edit_url }}">edytuj...</a></td>
                {% else %}
                    <td></td>
                {% endif %}
                {% endif %}
            </div>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        {% else %}
            <p>Nie znaleziono gabinetów!</p>
        {% endif %}

        <ul class="pager">
            {% if page_obj.has_previous %}
                <li class="previous"><a href="?page={{ page_obj.previous_page_number }}">Poprzednia strona</a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="next"><a href="?page={{ page_obj.next_page_number }}">Następna strona</a></li>
            {% endif %}
        </ul>

    {% endblock %}