{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Ząbek - plany
    {% endblock %}

    {% block header %}
        <h1>Dzień grafiku - {{ object.date }} - dentysta: {{ object.dentist }}</h1>
    {% endblock %}

    {% block content %}
    {% if user.is_authenticated %}
        {% if object.office.user.groups.all.0.name == 'Offices' %}
        <p><b><a href="{{object.get_edit_url}}"><i class="glyphicon glyphicon-edit"></i> edytuj dzień pracy dentysty...</a></b></p>
        {% endif %}
    {% endif %}
        <p><b>g.10.00-11.00: </b>{% if object.slot10_11 == None %}Brak{% else %}{{ object.slot10_11 }}{% endif %}</p>
        <p><b>g.11.00-12.00: </b>{% if object.slot11_12 == None %}Brak{% else %}{{ object.slot11_12 }}{% endif %}</p>
        <p><b>g.12.00-13.00: </b>{% if object.slot12_13 == None %}Brak{% else %}{{ object.slot12_13 }}{% endif %}</p>
        <p><b>g.13.00-14.00: </b>{% if object.slot13_14 == None %}Brak{% else %}{{ object.slot13_14 }}{% endif %}</p>
        <p><b>g.14.00-15.00: </b>{% if object.slot14_15 == None %}Brak{% else %}{{ object.slot14_15 }}{% endif %}</p>
        <p><b>g.15.00-16.00: </b>{% if object.slot15_16 == None %}Brak{% else %}{{ object.slot15_16 }}{% endif %}</p>
        <p><b>g.16.00-17.00: </b>{% if object.slot16_17 == None %}Brak{% else %}{{ object.slot16_17 }}{% endif %}</p>
        <p><b>g.17.00-18.00: </b>{% if object.slot17_18 == None %}Brak{% else %}{{ object.slot17_18 }}{% endif %}</p>
        <p><b>g.18.00-19.00: </b>{% if object.slot18_19 == None %}Brak{% else %}{{ object.slot18_19 }}{% endif %}</p>
        <p><b>g.19.00-20.00: </b>{% if object.slot19_20 == None %}Brak{% else %}{{ object.slot19_20 }}{% endif %}</p>
	{% endblock %}