{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Ząbek - plany
    {% endblock %}

    {% block header %}
        <h1>Jak zapisać się na wizytę?</h1>
    {% endblock %}

    {% block content %}
    	<h3><p>Aby zapisać na wizytę konieczne jest posiadanie konta użytkownika w naszym serwisie i bycie zalogowanym</p>
        <p>Konto można założyć <a href="">tutaj</a>.</p> lub kontaktując się telefonicznie z wybranym gabinetem który posiada interesujący nas termin wizyty. Po utworzeniu konta, login i hasło zostaną przesłane na wskazany adres email i będzie można się <a href="">zalogować</a></p>
        <p>W celu znalezienia interesującego nas terminu, z listy gabinetów należy wybrać te położone najbliżej na przykład korzystając z wyszukiwarki. Na stronie szczegółów gabinetu dostępne są najbliższe wolne terminy do dentysty.</p></h3>
    {% endblock %}