{% extends 'base.html' %}

    {% block title %}
        Ząbek - Zmiana hasła
    {% endblock %}

    {% block header %}
        <h1>Zmiana hasła:</h1>
    {% endblock %}

{% block content %}
    <form style="max-width: 330px; padding: 15px; margin: 0 auto;" class="form-password-change" id="password_change_form" method="POST" action="/change_password/">
	    	{% csrf_token %}
	    	{% if messages %}
	    		{% for message in messages %}
	    		{% if forloop.counter == 1 %}
	    		<p style="text-align: center;" class="important"><i class="glyphicon glyphicon-warning-sign info">&nbsp;</i>{{ message }}</p>
	    		{% endif %}
	    		{% endfor %}
	    	{% endif %}
	        <p style="text-align: center;"><i class="glyphicon glyphicon-wrench bigicon"></i></p>
	        <input class="form-control" type="text" placeholder="Stare hasło" name="old_password" value="" size="50" required="" autofocus=""/>
	        <br />
	        <p style="text-align: center;"><i class="glyphicon glyphicon-wrench bigicon"></i></p>
	        <input class="form-control" type="text" placeholder="Nowe hasło" name="password1" value="" size="50" required="" autofocus=""/>
	        <br />
          <p style="text-align: center;"><i class="glyphicon glyphicon-wrench bigicon"></i></p>
	        <input class="form-control" type="text" placeholder="Powtórz nowe hasło" name="password2" value="" size="50" required="" autofocus=""/>
	        <br />

	    <button class="btn btn-lg btn-primary btn-block" type="submit" value="submit">Zmień hasło</button>
	</form>
{% endblock %}
