{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Ząbek - Zmień hasło
    {% endblock %}

    {% block header %}
        <h1>Zmiana hasła</h1>
    {% endblock %}

    {% block content %}
	<div class="row">
	        <div class="col-md-12">
	            <div class="well well-sm">
	                <form class="form-horizontal" method="POST">{% csrf_token %}
	                    <fieldset>
	                        <legend class="text-center header">Podaj nowe hasło:</legend>

	                        <div class="form-group">
	                            <span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-wrench bigicon"></i></span> 
	                            <div class="col-md-8">
	                                Nowe hasło: {{ form.password1 }} {{ form.password1.errors }}
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-wrench bigicon"></i></span>
	                            <div class="col-md-8">
	                                Powtórz nowe hasło: {{ form.password2 }} {{ form.password2.errors }}
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <div class="col-md-12 text-center">
	                                <button type="submit" class="btn btn-primary btn-lg">Zapisz</button>
	                            </div>
	                        </div>
	                    </fieldset>
	                </form>
	            </div>
	        </div>
	    </div>


{% endblock %}