{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Ząbek - Wydarzenie
    {% endblock %}

    {% block header %}
        <h1>Wydarzenie - {{ object.title }}</h1>
    {% endblock %}

    {% block content %}
        <div class="col-md-9">
            <h4><b>Pacjent:  </b>{{ object.subject.name }} {{ object.subject.surname }} </h4>
            <h4><b>Pesel: </b>{{ object.subject.pesel }}</h4> 
            <h4><b>Data: </b>{{ object.date }} </h4>
            <h4><b>Dentysta: </b>{{ object.dentist}} </h4>
            <h4><b>Gabinet: </b>{{ object.office }}</h4>
            <h4><b>Rodzaj wizyty: </b>{{ object.event_type_verbose }} </h4>
            <h4><b>Opis: </b>{{ object.text }}</h4>
            {% if object.attachment %}
                <h4><b>Załącznik: </b><a href="{{ object.attachment.url }}">{{ object.filename }}</a></h4>
            {% endif %}
        </div>
    {% endblock %}