{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Ząbek - Wydarzenie
    {% endblock %}

    {% block header %}
        <h1>Event:</h1>
    {% endblock %}

    {% block content %}
        <div class="col-md-9">
            <h1>Tytuł: {{ object.title }}</h1>
            <h4>Pacjent:  {{ object.subject }} </h4> 
            <h4>Data: {{ object.date }} Dentysta: {{ object.dentist}} Gabinet: {{ object.office }}</h4>
            <h4>Rodzaj wizyty: {{ object.event_type }} </h4>
        </div>
    {% endblock %}