{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Strefa użytkownika
    {% endblock %}

    {% block header %}
        <h1>Witaj w strefie użytkownika {{ object.name }} {{ object.surname }}!</h1>
    {% endblock %}

    {% block content %}
        <h2 class="description">Podstawowe linki:</h2>
        <p><b><a href="{% url 'main_page:patient_appointements' %}">Twoje umówione wizyty</a></b></p>
        <p><b><a href="{% url 'main_page:patient_info' %}">Twoje dane</a></b></p>
        <p><b><a href="{% url 'main_page:patient_history' %}">Twoja historia leczenia</a></b></p>
        <p><b><a href="{% url 'main_page:change_password' %}">Zmień swoje hasło!</a></b></p>
    {% endblock %}