{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Ząbek - Strefa Użytkownika
    {% endblock %}

    {% block header %}
        <h1>Twoja historia leczenia:</h1>
    {% endblock %}

    {% block content %}
      <div class="events">
                    <h3>Wizyty i inne zdarzenia:</h3>
                    {% for object in object_list %}
                    {% if object.event_set.all %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Lp.</th>
                                <th>Tytuł:</th>
                                <th>Data:</th>
                                <th>Typ:</th>
                                <th>Gabinet:</th>
                                <th>Dentysta:</th>
                                <th>Więcej...</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for event in object.event_set.all %}
                            <tr>
                                <th>{{ forloop.counter }}</th>
                                <th>{{ event.title }}</th>
                                <th>{{ event.date }}</th>
                                <th>{{ event.event_type_verbose }}</th>
                                <th><a href="/office/{{ event.office.slug }}">{{ event.office.name }}</th>
                                <th><a href="/dentist/{{ event.dentist.slug }}">{{ event.dentist.surname }} {{ event.dentist.name }}</th>
                                <th><a href="{{event.get_absolute_url}}">więcej...</th>
                            </tr>
                         {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p>Nie znaleziono żadnych zdarzeń!</p>
                    {% endif %}
                     {% endfor %}
                </div>
    {% endblock %}