{% extends "base.html" %}

    {% load django_markdown %}
    {% load  static %}

    {% block title %}
        Ząbek - dentysta
    {% endblock %}

    {% block header %}
        <h1>Lekarz-dentysta:</h1>
    {% endblock %}

    {% block content %}
    {% if user.is_authenticated %}
        {% if user.groups.all.0.name == 'Offices' %}
            <p><b><a href="{{object.get_edit_url}}"><i class="glyphicon glyphicon-edit"></i> edytuj dane dentysty...</a></b></p>
        {% endif %}
    {% endif %}
    <section class="" id="dentist_header">
        <div class="row">
            <div class="col-md-2">
            <a class="avatar">
            {% if  object.profile_image == None %}
                <img src="{% static 'img/dentist-default.jpg' %}">
            {% else %}
                <img src="{{ object.profile_image.url }}"/>
            {% endif %}
            </a>
            </div>
            <div class="col-md-10">
                <h1>{{ object.name }} {{ object.surname }}, {{ object.professional_title }}</h1>
                <div class="social">
                    {% with object.get_absolute_url as page_url %}
                    {% with object.title as title %}
                    {% include 'share.html' %}
                    {% endwith %}
                    {% endwith %}</div>
                <h4>Numer Prawa Wykonywania Zawodu (PWZ): {{ object.pwz_number }}<h4>
            </div>
        </div>
    </section>
    <section class="" id="dentist_body">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="office">
                    <h3>Gabinet:</h5>
                    <p><a href="{{object.office.get_absolute_url}}">{{ object.office }}</a></p>
                </div>
                <div class="specialties">
                    <h3>Specjalizacja:</h5>
                    <p>{{ object.specialties }}</p>
                </div>
                <div class="biography">
                    <h3>Biografia:</h5>
                    <p>{{ object.biography | markdown}}</p></div>
                <div class="schedules">
                    <h3>Dostępne terminy:</h5>
                    {% for schedule in schedules%}
                        {% if schedule.has_free_slots %}
                            {% if schedule.is_active %}
                                <p><a href="{{ schedule.get_signup_url }}">{{ schedule }}</a> ({{ schedule.date | date:"l" }})<p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="comments">
                    <h3>Komentarze:</h3>
                    <div class="fb-comments" data-href="http://localhost:8000{{ object.get_absolute_url }}" data-width="470" data-num-posts="10"></div>
                </div>
                
            </div>
        </div>
    </section>
    {% endblock %}