body {
    background-image: url("/static/img/red_tree_against_a_blue_sky-wallpaper-1680x1260.jpg");

}

.post {
    width: 950px;
    word-wrap: break-word;
    font-size: 1.3em;
    font-weight: bold;
}

.category {
    font-weight: bold;
}

.tags {
    font-weight: bold;
}

.share {
    font-weight: bold;
}